h1 {
    font-family: Abel,sans-serif;
}

header,nav {
    display: flex;
    justify-content: center;
}

ul,li {
    display: flex;
    justify-content: space-around;
    width: 80%;
    color: lightskyblue;
}

section {
    display: none;
    justify-content: center;
}

#last {
    display: flex;
    flex-direction: column;
    align-items: center;
}