h1 {
    font-family: Abel,sans-serif;
    font-size: 2em;
}

header,nav {
    display: flex;
    justify-content: center;
}

ul,li {
    display: flex;
    justify-content: space-around;
    width: 80%;
    color: lightskyblue;
}

section {
    display: none;
    justify-content: center;
}

#last,#top1,#top2,#top3 {
    display: none;
    flex-direction: column;
    align-items: center;
}

#top {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

p {
    padding: 0px;
    margin: 0px;
}

#table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table,td {
    font-family: Abel,sans-serif;
    font-size: 18px;
    border: solid black 2px;
    margin: 0px;
    padding: 0px;
}

th {
    font-family: Abel,sans-serif;
    font-size: 18px;
    border: solid black 2px;
    margin: 0px;
    padding: 0px;
}